.hide-show-vid-modal {
    display: none;
}

.display-show-vid-modal {
    display: block;
    position: fixed;
    width: 60%;
    left: 20%;
    /* height: 2px; */
    top: 30%;
    margin-top: -10px;
    text-align: center;
    z-index: 2;
    background-color: rgb(31,41,45);
    /* border: 1px solid var(--darkturquoise); */
    border-radius: 5px;
    padding: 25px;
}

#close-btn {
    width: 50px;
}

.modal-body {
    display: flex;
}

.modal-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}

.modal-image {
    width: 450px;
}

#watched-status-btn {
    width: 200px;
    background-color: rgb(30, 32, 37);
    border: solid 2px rgb(59, 66, 76);
    color: #bbc8d3;
}

#watched-status-btn:hover {
    color: var(--main-bg-color);
}

.btn path:hover {
    color: var(--main-bg-color);
}

#play-btn {
    background-color: rgb(30, 32, 37);
    border: solid 2px rgb(59, 66, 76);
    color: #bbc8d3;
}

#play-btn:hover {
    color: var(--main-bg-color);
}

.modal-settings {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.close-modal-btn{
    display: flex;
    justify-content: flex-end;
    margin: 15px 15px -25px 0;
    position: relative;
    z-index: 1;
}