@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spline+Sans&display=swap');

* {
  font-family: 'Spline Sans', sans-serif;
}

/* #root {
  background-color: mediumaquamarine;
} */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#searchResult, #allPlaylists, #playlistVid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.glyphicon-move {
  cursor: move;
  cursor: -webkit-grabbing;
}

#profileHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#sortBy {
  max-width: 13%;
  font-size: 15px;
}

#removeVidBtn {
  display: flex;
  justify-content: flex-end;
}

#showOptions {
  position: relative;
  top: 70%;
}

#search {
  max-width: 50%;
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  margin-left: 10px;
  margin: auto;
}

#searchBtn {
  max-width: 15%;
}

#searchBtn:hover {
  background-color: #E50914;
  color: black;
}

#advSearchToggle {
  /* display: flex; */
  padding: 2% 0 0 2%;
  /* justify-content: flex-end;
  align-items: flex-end; */
}

#advSearchOptions {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  column-gap: 2%;
}

#typeOption {
  display: flex;
  flex-direction: row;
}

#options {
  display: flex;
  flex-direction: row;
  column-gap: 2%;
}

/* #advSearch {
  display: flex;
  flex-direction: row;
  column-gap: 5%;
} */

#img__wrap {
  position: relative;
  /* height: 200px;*/
  width: 45%;
  margin: auto;
}

#img__description {
/* position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0; */
background: rgba(166, 196, 187, 0.72);
visibility: hidden;
opacity: 0;
font-size: 17px;
font-weight: bold;

/* transition effect. not necessary */
transition: opacity .2s, visibility .2s;
}

#img__wrap:hover #img__description {
visibility: visible;
opacity: 1;
}

#searchPage {
  background-color: rgba(0, 0, 0, 0.87);
  color: white;
  /* height: 100vh; */
  padding-top: 5%;
}

footer {
  background-color: rgba(0, 0, 0, 0.75);
  color: white
}

#resultCardBody {
  background-color: rgba(0, 0, 0, 0.75);
}