@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spline+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;
  color: #bbc8d3;
}

.page-container {
  background-color: #122333;
  height: 100vh;
}

.nav-bar-container {
  background-color: #122333;
  padding-left: 15px;
}

.navbar-light .navbar-toggler {
  /* color: #2eac68; */
  background-color: #2eac68;
  /* border: whitesmoke; */
}

/* #navBarContainer, #footer {
  background-color: #213749;
  background-color: #122333;
} */

/* #copyright {
  background-color: #213749;
} */

#btn {
  background-color: #2eac68;
  border: #2eac68;
}

#btn:hover {
  background-color: #28975c;
  /* border: 1px solid #bbc8d3; */
}

#container, #showPlaylistPage, #watchedPage, #searchPage {
  background-color: #122333;
  height: 100vh;
}

#searchResult, #allPlaylists {
  background-color: #122333;
}

#signOut, #watchedPage {
  color: white;
}

#showPlaylistTitle {
  font-family: 'Oswald', sans-serif;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#searchResult, #allPlaylists, #playlistVid {
  display: flex;
  /* align-content: center; */
  /* justify-content: center; */
  flex-wrap: wrap;
  gap: 20px;
}

.glyphicon-move {
  cursor: move;
  cursor: -webkit-grabbing;
}

#profileHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  margin-left: 5%;
}

#profileSetting {
  display: flex;
  flex-direction: row;
  column-gap: 1%;
  justify-content: flex-end;
  margin-right: 5%;
  padding-top: 3%;
}

#sortBy {
  max-width: 13%;
  font-size: 15px;
}

#removeVidBtn, #seeMoreBtn {
  display: flex;
  justify-content: flex-end;
}

#showOptions {
  position: relative;
  top: 70%;
  display: flex;
  justify-content: space-between;
  column-gap: 5%;
}

#advSearchToggle {
  /* display: flex; */
  padding: 2% 0 0 2%;
  /* justify-content: flex-end;
  align-items: flex-end; */
}

#advSearchOptions {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  column-gap: 2%;
}

#typeOption {
  display: flex;
  flex-direction: row;
}

#options {
  display: flex;
  flex-direction: row;
  column-gap: 2%;
}

/* #img__wrap {
  width: 45%;
  margin: auto;
} */

#img__description {
  visibility: hidden;
  opacity: 0;
  font-size: 17px;
  font-weight: bold;

  transition: opacity .2s, visibility .2s;
}

#img__wrap:hover #img__description {
  visibility: visible;
  opacity: 1;
}

#searchPage {
  background-color: #122333;
  color: white;
  /* height: 100vh; */
  padding-top: 5%;
}

footer {
  background-color: #122333;
  color: white
}

#resultCardBody, #playlistBody {
  margin-top: 5%;
  /* background-color: rgba(0, 0, 0, 0.75); */
}

#postPlaylist {
  display: flex;
  flex-direction: row;
  column-gap: 7px;
}

#playlistHeader {
  color: white;
  margin-left: 5%;
  padding-top: 2%;
}

#editPlaylist {
  display: flex;
  flex-direction: row;
  column-gap: 5px;
}

#titleInput {
  max-width: 25%;
}

#editBtn {
  margin-right: 5%;
}

#showPlaylistSettings {
  display: flex;
  justify-content: flex-end;
}

#playlistDropdown {
  max-width: 15%;
  margin-right: 5%;
  margin-bottom: 2%;
}

#watchedVids {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

#watchedHeader {
  margin-left: 5%;
  padding-top: 3%;
  padding-bottom: 3%;
}

/* ------------------------------- HOME.JS ------------------------------- */
#home-page-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

#home-page-container h1 {
  font-family: 'Fredericka the Great', cursive;
  color: #2eac68;
  text-align: center;
  padding-top: 50px;
  font-size: 55px;
  letter-spacing: 10px;
}

#home-page-container .app-features-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  margin-top: 50px;
}

.app-features-container .app-feature {
  width: 75%;
}

@media screen and (min-width: 768px) {
  #home-page-container  {
    gap: 25px;
  }

  #home-page-container h1 {
    font-size: 75px;
    letter-spacing: 15px;
  }

  #home-page-container .app-features-container {
    gap: 50px;
  }

  .app-features-container .app-feature h5 {
    font-size: 25px;
  }
}

@media screen and (min-width: 1200px) {
  #home-page-container {
    gap: 100px;
  }
  
  #home-page-container h1 {
    font-size: 100px;
    letter-spacing: 25px;
  }

  #home-page-container .app-features-container {
    flex-direction: row;
    justify-content: center;
    padding: 0px 50px 0px 50px;
  }

  .app-features-container .app-feature h5 {
    font-size: 30px;
  }
}

/* ------------------------------ SIGNUP.JS ------------------------------ */
.auth-page-container {
  display: flex;
  justify-content: center;
}

.auth-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: absolute;
    width: 90%;
    height: 20px;
    top: 50%;
    margin-top: -10px;
    text-align: center;
}

.auth-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media screen and (min-width: 768px) {
  .auth-form-container {
    width: 100%;
  }

  .auth-form {
    width: 65%;
  }

  .form-floating {
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .auth-form-container {
    width: 100%;
  }

  .auth-form {
    width: 35%;
  }

  .form-floating {
    width: 100%;
  }
}

.auth-form #name-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  column-gap: 15px;
}

.auth-form #signup-btn {
  width: 100%;
  background-color: #2eac68;
  border: 1px solid #213749;
}

.auth-form #signup-btn:hover {
  border: 1px solid whitesmoke;
  background-color: #28975c;
}

#first-name, #last-name, #email, #password, #password-confirmation {
  background-color: #213749;
  color: #bbc8d3;
}

/* ------------------------------ SIGNIN.JS ------------------------------ */
#signin-form {
  width: 100%;
}

.auth-form #signin-btn {
  width: 100%;
  background-color: #2eac68;
  border: 1px solid #213749;
}

.auth-form #signin-btn:hover {
  border: 1px solid whitesmoke;
  background-color: #28975c;
}

#signin-email, #signin-password {
  background-color: #213749;
  color: #bbc8d3;
}

@media screen and (min-width: 768px) {
  .auth-form-container {
    width: 100%;
  }

  #signin-form {
    width: 65%;
  }

  .form-floating {
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  #signin-form {
    width: 35%;
  }
}

/* -------------------------- CHANGEPASSWORD.JS -------------------------- */
#changepw-form {
  width: 100%;
}

.auth-form #changepw-btn {
  width: 100%;
  background-color: #2eac68;
  border: 1px solid #213749;
}

.auth-form #changepw-btn:hover {
  border: 1px solid whitesmoke;
  background-color: #28975c;
}

#old-password, #new-password {
  background-color: #213749;
  color: #bbc8d3;
}

@media screen and (min-width: 768px) {
  #changepw-form {
    width: 65%;
  }
}

@media screen and (min-width: 1200px) {
  #changepw-form {
    width: 35%;
  }
}

/* -------------------------- SIGNOUT.JS -------------------------- */
#signout-container {
  display: flex;
  flex-direction: column;
}

#signout-container h2 {
  font-size: 35px;
}

#signout-container p {
  font-size: 20px;
  color: #2eac68;
  margin: 0;
}

@media screen and (min-width: 768px) {
  #signout-container {
    width: 75%;
  }

  #signout-container h2 {
    font-size: 50px;
  }

  #signout-container p {
    font-size: 35px;
  }

  #signout-container #signout-btn {
    font-size: 25px;
  }
  
  #signout-container #cancel-btn {
    font-size: 25px;
  }
}

#signout-container .signout-btns {
  display: flex;
  gap: 7px;
}

#signout-container #signout-btn {
  background-color: #E50914;
  border: 1px solid #213749;
}

#signout-container #signout-btn:hover {
  background-color: #bb161e;
  border: 1px solid whitesmoke;
}

#signout-container #cancel-btn {
  background-color: #2eac68;
  border: 1px solid #213749;
}

#signout-container #cancel-btn:hover {
  border: 1px solid whitesmoke;
  background-color: #28975c;
}

/* ------------------------------ SEARCH.JS ------------------------------ */
#search {
  max-width: 45%;
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  margin-left: 10px;
  margin: auto;
}

#searchTerm {
  background-color: #213749;
  color: #bbc8d3;
}

#searchBtn {
  background-color: #2eac68;
  color: whitesmoke;
}

#searchBtn:hover {
  border: 1px solid #bbc8d3;
  background-color: #28975c;
}

#searchResContainer {
  display: flex;
  justify-content: center;
  align-content: center;
}

#searchOptions {
  position: relative;
  top: 65%;
  display: flex;
  justify-content: end;
  column-gap: 5%;
}

.vidResModal {
  background-color: #213749;
}

#resCard {
  border: 5px solid #213749;
}

#resCard:hover {
  border: 5px solid black;
}

/* ------------------------------ PROFILE.JS ------------------------------ */
#playlistCard, #watchedCard {
  border: 5px solid #213749;
}

#playlistCard:hover, #watchedCard:hover {
  border: 2px solid #bbc8d3;
}

#sortBy {
  background-color: #213749;
  color: #bbc8d3;
}

#createBtn, #changePwBtn, #createPlaylistBtn {
  background-color: #2eac68;
  border: 1px solid #2eac68;
}

#createBtn:hover, #changePwBtn:hover, #createPlaylistBtn:hover {
  background-color: #28975c;
  border: 1px solid #bbc8d3;
}

#newPlaylistModal {
  background-color: #122333;
}

#playlistTitle {
  background-color: #213749;
}

/* -------------------------- SHOWPLAYLIST.JS -------------------------- */

#playlistDropdown {
  background-color: #213749;
  color: #bbc8d3
}