@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spline+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');

* {
  font-family: 'Spline Sans', sans-serif;
}

#container, #showPlaylistPage, #watchedPage, #changePassword, #signOut, #signIn, #homePage, #signUp, #searchPage {
  background-color: #212529;
  height: 100vh;
}

#searchResult, #allPlaylists {
  background-color: #212529;
}

#signOut, #watchedPage {
  color: white;
}

#homePage, #appName {
  font-family: 'Oswald', sans-serif;
  color: red;
  font-size: 150px;
  text-align: center;
  padding-top: 9%;
}

#showPlaylistTitle {
  font-family: 'Oswald', sans-serif;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#searchResult, #allPlaylists, #playlistVid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.glyphicon-move {
  cursor: move;
  cursor: -webkit-grabbing;
}

#profileHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  margin-left: 5%;
}

#profileSetting {
  display: flex;
  flex-direction: row;
  column-gap: 1%;
  justify-content: flex-end;
  margin-right: 5%;
  padding-top: 3%;
}

#sortBy {
  max-width: 13%;
  font-size: 15px;
}

#removeVidBtn, #seeMoreBtn {
  display: flex;
  justify-content: flex-end;
}

#showOptions {
  position: relative;
  top: 70%;
  display: flex;
  justify-content: space-between;
  column-gap: 5%;
}

#search {
  max-width: 45%;
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  margin-left: 10px;
  margin: auto;
}

#searchBtn {
  max-width: 15%;
}

#advSearchToggle {
  /* display: flex; */
  padding: 2% 0 0 2%;
  /* justify-content: flex-end;
  align-items: flex-end; */
}

#advSearchOptions {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  column-gap: 2%;
}

#typeOption {
  display: flex;
  flex-direction: row;
}

#options {
  display: flex;
  flex-direction: row;
  column-gap: 2%;
}

/* #img__wrap {
  width: 45%;
  margin: auto;
} */

#img__description {
visibility: hidden;
opacity: 0;
font-size: 17px;
font-weight: bold;

transition: opacity .2s, visibility .2s;
}

#img__wrap:hover #img__description {
visibility: visible;
opacity: 1;
}

#searchPage {
  background-color: rgba(0, 0, 0, 0.87);
  color: white;
  /* height: 100vh; */
  padding-top: 5%;
}

footer {
  background-color: #212529;
  color: white
}

#resultCardBody, #playlistBody {
  margin-top: 5%;
  /* background-color: rgba(0, 0, 0, 0.75); */
}

#postPlaylist {
  display: flex;
  flex-direction: row;
}

#playlistHeader {
  color: white;
  margin-left: 5%;
  padding-top: 2%;
}

#editPlaylist {
  display: flex;
  flex-direction: row;
  column-gap: 5px;
}

#titleInput { 
  max-width: 25%;
}

#editBtn {
  margin-right: 5%;
}

#showPlaylistSettings {
  display: flex;
  justify-content: flex-end;
}

#playlistDropdown {
  max-width: 15%;
  margin-right: 5%;
  margin-bottom: 2%;
}

#watchedVids {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

#watchedHeader {
  margin-left: 5%;
  padding-top: 3%;
  padding-bottom: 3%;
}

/* ------------------------------- HOME.JS ------------------------------- */
#homePage {
  /* background-image: url('https://www.flatpanelshd.com/pictures/netflix2021_2_small.jpg'); */
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  justify-content: center;
  column-gap: 5px;
}

/* ------------------------------ SIGNUP.JS ------------------------------ */
#signUpForm {
  max-width: 50%;
  margin: 0 auto;
}

#nameContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#signUpBtn {
  width: 100%;
}